{% extends 'blog/d_base.html' %}
{%block content%}

<article class="media content-section">
  <div class="row text-center">
    <div class="media-body">
      <h1 class="article-title">{{blog.title|title}}</h1>
      <h5 class="text-muted">{{ blog.excerpt }}</h5>
      <div class="article-metadata text-muted">
        <a class="article-metadata mb-4" href="{% url 'UserBlogView' blog.author.username %}">
          <img class='rounded-circle profile-img' src="{{ blog.author.profile.image.url }}" alt=""/>
        </a>
        {{ blog.author }} in
        {%for category in blog.category.all%}
        <a class="mr-2" href="{% url 'CategoryBlogView' category.slug %}">{{category.name}}</a>
        {%endfor%}
        <small>{{ blog.posted_date|date:"M d" }}</small>
      </div>
      <br>
      <!-- <h2>{{blog.title|title}}</h2> -->
      <img class='rounded article-img mb-4' src="{{ blog.image.url }}" alt="">
      <br>
      <p class="article-content">{{ blog.content|safe }}</p>

      <!-- Like/Unlike button -->
      <form action="{% url 'likeBlog' blog.pk %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button class="btn" type="submit" name="blog_pk" value="{{ blog.pk }}">
              <i class="fa fa-heart fa-lg" style="color:red;"></i> UnLike
            </button>
        {% else %}
            <button class="btn" type="submit" name="blog_pk" value="{{ blog.pk }}">
              <i class="fa fa-heart-o fa-lg" style="color:#444444;"></i> Like
            </button>
        {% endif %}{{ blog.total_likes }}
      </form>
    </div>
  </div>

  <!-- for saving blogs -->
  <div class="media-body">
    <form action="{% url 'saveBlog' blog.pk %}" method="post">
      {% csrf_token %}
      {% if save %}
          <button class="btn" type="submit" name="blog_pk" value="{{ blog.pk }}">
            <i class="fa fa-bookmark fa-lg" style="color:red;"></i>
          </button>
      {% else %}
          <button class="btn" type="submit" name="blog_pk" value="{{ blog.pk }}">
            <i class="fa fa-bookmark-o fa-lg" style="color:#444444;"></i>
          </button>
      {% endif %}
    </form>
  </div>
</article>
{%endblock%}
