{% extends 'blog/base.html' %}
{%block content%}

<article class="media content-section">
  <img class='rounded-rectangle profile-img mb-4' src="{{ blog.author.profile.image.url }}" alt=""/>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'UserBlogView' blog.author.username %}">{{ blog.author }}</a> in
      {%for category in blog.category.all%}
      <a class="mr-2" href="{% url 'CategoryBlogView' category.slug %}">{{category.name}}</a>
      {%endfor%}
      <small class="text-muted">{{ blog.posted_date|date:"Y M d" }}</small>
      <br>
    </div>
    <h3>{{blog.title|title}}</h3>
    <img class='rounded article-img' src="{{ blog.image.url }}" alt="">
    <p class="article-content">{{ blog.content|safe }}</p>

    <!-- Like/Unlike button -->
    <form action="{% url 'likeBlog' blog.pk %}" method="post">
      {% csrf_token %}
      {% if liked %}
          <button class="btn btn-danger" type="submit" name="blog_pk" value="{{ blog.pk }}">
            <i class="fa fa-heart"></i> UnLike
          </button>
      {% else %}
          <button class="btn btn-primary" type="submit" name="blog_pk" value="{{ blog.pk }}">
            <i class="fa fa-heart"></i> Like
          </button>
      {% endif %}  -- {{ blog.total_likes }} Like{{ blog.total_likes.count | pluralize }}
    </form>
  </div>
</article>
{%endblock%}
